extends ../layouts/header
block content
  include ../layouts/navigation
  h2 Employee Details
  p Name: #{employee.name}
  p Email: #{employee.email}
  p Phone: #{employee.phone}
  p Branch: #{employee.branch}
  p Department: #{employee.department}
  p Status: #{employee.status}
  a(href=`/employees/edit/${employee.id}`) Edit
  a(href='/employees') Back