extends ../layouts/header
block content
  include ../layouts/navigation
  h2 Asset Details
  p Serial Number: #{asset.serialNumber}
  p Make: #{asset.make}
  p Model: #{asset.model}
  p Purchase Date: #{asset.purchaseDate}
  p Purchase Price: #{asset.purchasePrice}
  p Status: #{asset.status}
  p Assigned To: #{asset.assignedToName}
  a(href=`/assets/edit/${asset.id}`) Edit
  a(href='/assets') Back